body{
  margin: 0px;
  overflow-y: scroll;
}
/* * {
  border: 1px solid aquamarine;
} */
a {
  text-decoration: none;
}

ul, li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

div.nav-container {
  width: 100%;
  min-width: 1226px;
  height: 40px;
  background-color: #333;
}

div.nav-content {
  width: 1226px;
  height: 40px;
  margin: 0px auto;
}
ul.nav li a:hover {
  color: #FFFFFF;
}
ul.nav li {
  font-size: 12px;
  display: inline-block;
  line-height: 40px;
}

ul.nav li a {
  color: #B0B0B0;
  line-height: 40px;
  height: 40px;
}

ul.nav li a + span {
  color: #424242;
  margin: 0px 3.6px;
}

li.download-app {
  position: relative;
}

li.download-app div {
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 124px;
  height: 0px;
  box-shadow: 0px 1px 5px #aaa;
  text-align: center;
  line-height: normal;
  transition: height 1s;
}

li.download-app:hover div {
  height: 148px;
}

li.download-app div img {
  width: 90px;
  height: 90px;
  margin: 18px 17px 8px 17px;
}

li.download-app div img + span {
  display: block;
  height: 28px;
  width: 100%;
  font-size: 16px;
  color: black;
}


